<!DOCTYPE html>
<html>
<head>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<style>
div.container {
   font: normal normal normal 11px/normal '.Arial-Regular';
    width: 42em;
    height: 11em;
    padding: 5px;
    border: .1em solid black;
    background-color: lightgray;
}

.h2 {
 text-align:center;
}

#filter-label {
  width: 7%;
  background-color: #E7EBEC;
}

#person-list {
  width: 87%;
}

#filter-books {
  width: 5%;
}
#book-list {
  width: 80%;
}
#button-box {
text-align:center;
}
 .button {
  margin: 10px;
    color: yellow;
    background-color: gray;
}

</style>
</head>

<body>
<form id="bookloans">
<div class = "container">
   <div class = "box" id="header-box" >
      <h2><%= name %></h2>
   </div>
     <div class="box" id="book-box">
    <input type="text" value="Book:" class="label" id="filter-label" disabled>
    <input type="text" id="filter-books" name="filter_books" value="<%=bf %>" > 
    <select id="book-list"  name="book">
     <%- books%>
    </select>
   </div>
   <div class="box" id="name-box">
    <input type="text" value="Name:" class="label" id="filter-label" disabled>
    <select id="person-list" name= 'patron' >
     <%- users%>
    </select>
   </div>
    <div class="box" id="button-box">
    <h5 style='float:left; margin-left:6em' ><%=cnt %></h5>
    <input type="submit" value="FilterLists" formaction='http://localhost:8181/bookloanf' formmethod="post" formenctype="application/x-www-form-urlencoded" class="button"></input>
    <input type="submit" class = "button" id="checkout_button" value="CheckOut" formaction='http://localhost:8181/bookloanco' formmethod="post" formenctype="application/x-www-form-urlencoded" > 
    <input type="submit" class = "button" id="checkin_button" value="CheckIn" formaction='http://localhost:8181/bookloanci' formmethod="post" formenctype="application/x-www-form-urlencoded"   >
   </div>
  </div>
</form>
</body>
</html>
